:root {
  --global-bg-color: #fff;
  --global-font-family: Verdana, sans-serif;
  --global-text-color: #222;
  --global-link-color: #fff;
  --global-link-hover: rgb(103, 217, 255);
  --highlight: rgb(219, 219, 219);
  --on-hover: palevioletred;
}

.App {
  /* background-color: #282c34; */
  align-items: center;
  color: white;
}

.App-logo {
  height: 40vmin;
}
/* 
.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #09d3ac;
}

a {
  text-decoration: none;
}
