:root {
  --global-bg-color: #003b2b;
  --global-font-family: Verdana, sans-serif;
  --global-text-color: #222;
  --global-link-color: #00ffba;
  --global-link-hover: rgb(103, 217, 255);
  --highlight: #009666;
  --foundation: #768984;
  --on-hover: #768984;
}

/*https://www.colorhexa.com/00ffba*/

.App {
  /* background-color: #282c34; */
  align-items: center;
  color: white;
}

.App-logo {
  height: 40vmin;
}

.App-link {
  color: #09d3ac;
}

a {
  text-decoration: none;
}
