:root {
  --global-bg-color: #003b2b;
  --global-font-family: Verdana, sans-serif;
  --global-text-color: #222;
  --global-link-color: #00ffba;
  --global-link-hover: rgb(103, 217, 255);
  --highlight: #009666;
  --foundation: #768984;
  --on-hover: #bdbdbd;
  --button: "red";
  --dark-bg: #282828;
}

a {
  color: var(--global-link-color);
}
/*https://www.colorhexa.com/00ffba*/

.tableRow:hover {
  background-color: var(--on-hover);
  transition: all 0.3s ease-in-out;
  padding-left: 14px !important;
  cursor:pointer;
}

.App {
  /* background-color: #282c34; */
  align-items: center;
  color: white;
}

.App-logo {
  height: 40vmin;
}

.App-link {
  color: #09d3ac;
}

a {
  text-decoration: none;
}

.contentBody {
  width: 80%;
  margin: auto;
}
